<form class="ui large form segment" [formGroup]="myForm" (ngSubmit)="addArticle()" [class.error]="!myForm.valid && myForm.touched">
  <h3 class="ui header">Add a Link</h3>
  <div class="field" [class.error]="!myForm.controls.title.valid && myForm.controls.title.touched">
    <label for="title">Title</label>
    <input id="title" [formControl]="myForm.controls.title">
    <div *ngIf="myForm.controls.title.touched">
      <div *ngFor="let error of myForm.controls.title.errors | keyvalue">
        {{error.key}}
      </div>
    </div>
  </div>

  <div class="field" [class.error]="!myForm.controls.link.valid && myForm.controls.link.touched">
    <label for="link">Link</label>
    <input id="link" [formControl]="myForm.controls.link">
    <div *ngIf="myForm.controls.link.touched">
      <div *ngFor="let error of myForm.controls.link.errors | keyvalue">
        {{error.key}}
      </div>
    </div>
  </div>

  <button type="submit" class="ui positive right floated button" [disabled]="!myForm.valid">Submit Link</button>
</form>

<div class="ui grid posts">
  <app-article [article]='article' class="row" *ngFor="let article of sortedArticles()">
  </app-article>
</div>